:root {
  color-scheme: light dark;
}

body {
  background-color: light-dark(#fff, #121212);
  color: light-dark(#333, #efefef);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.editor-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
}

.tiptap {
  background-color: light-dark(#fff, #333);
  flex: 1;
  padding: 1rem;
  outline: none;
  height: 100%;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}
